{% extends 'base.html.twig' %}

{% block title %}Renginių pridėjimas{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="card">
        <div class="card-body">
            {{ form_start(eventAddForm) }}
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Renginio Įvedimas</h1>

            <div class="form-group">
                <label for="name">Renginio pavadinimas</label>
                {{ form_errors(eventAddForm.name) }}
                {{ form_widget(eventAddForm.name, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'name', 'id': 'name', 'required': '', 'placeholder': 'Renginio pavadinimas'}}) }}
            </div>

            <div class="form-group">
                <label for="date">Data</label>
                {{ form_errors(eventAddForm.date) }}
                {{ form_widget(eventAddForm.date, {'attr': {'type': 'date', 'class': 'form-control', 'name': 'date', 'id': 'date', 'required': ''}}) }}
            </div>

            <div class="form-group">
                <label for="address">Adresas</label>
                {{ form_errors(eventAddForm.address) }}
                {{ form_widget(eventAddForm.address, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'address', 'id': 'address', 'required': '', 'placeholder': 'Renginio adresas'}}) }}
            </div>

            <div class="form-group">
                <label for="price">Kaina</label>
                {{ form_errors(eventAddForm.price) }}
                {{ form_widget(eventAddForm.price, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'price', 'id': 'price', 'required': '', 'placeholder': 'Kaina'}}) }}
            </div>

            <div class="form-group">
                <label for="description">Aprašymas</label>
                {{ form_errors(eventAddForm.description) }}
                {{ form_widget(eventAddForm.description, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'description', 'id': 'description', 'required': '', 'placeholder': 'Renginio aprašymas'}}) }}
            </div>

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success">Pridėti</button>
            </div>
            {{ form_end(eventAddForm) }}
        </div>
    </div>
</div>

{% endblock %}
