{% extends 'base.html.twig' %}

{% block title %}Renginių sąrašas{% endblock %}

{% block body %}

        <h1 class="mb-4 ml-2">Renginiai</h1>

        <div class="card">
            <div class="card-body" style="min-width: 350px">
                {{ form_start(eventListForm) }}
                <div class="form-group">
                    <label for="date">Nuo</label>
                    {% if form_errors(eventListForm.date)|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form_errors(eventListForm.date) }}
                        </div>
                    {% endif %}
                    {{ form_widget(eventListForm.date) }}
                </div>


                <div class="form-group">
                    <label for="dateTo">Iki</label>
                    {% if form_errors(eventListForm.dateTo)|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form_errors(eventListForm.dateTo) }}
                        </div>
                    {% endif %}
                    {{ form_widget(eventListForm.dateTo) }}
                </div>

                <div class="form-group">
                    <label for="price">Kaina</label>
                    {% if form_errors(eventListForm.price)|length > 0 %}
                        <div class="alert alert-danger">
                            {{ form_errors(eventListForm.price) }}
                        </div>
                    {% endif %}
                    {{ form_widget(eventListForm.price) }}
                </div>
                <div>
                    {{ form_widget(eventListForm.category) }}
                </div>

                <div class="row justify-content-center">
                    {{ form_widget(eventListForm.filter) }}
                </div>

                {{ form_end(eventListForm) }}
            </div>
        </div>

    <div class="container">
        {% for event in events %}
            <div class="card mb-3" style="max-width: 1000px; min-width: 1000px">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-3">
                            <img class="rounded" src="{{ asset('images/placeholder.png') }}">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ url('app_event',{id: event.id} ) }}">
                                        <h2>
                                            <div class="text-truncate" style="max-width: 700px">{{ event.name }}</div>
                                        </h2>
                                    </a>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col ml-2">
                                    {% if event.price == 0 %}
                                        <h4>Kaina: Nemokamai</h4>
                                    {% else %}
                                        <h4>Kaina: {{ event.price }} €</h4>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 ml-2">
                                    <h5>Data: {{ event.date.format('Y-m-d H:i') }}</h5>
                                </div>
                                <div class="col">
                                    <h5>Vieta: {{ event.address }}</h5>
                                </div>
                                <div class="col-3 ml-2">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <h7><a href="{{ url('app_event_edit',{id: event.id}) }}">Redaguoti</a></h7>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ml-2">
                                    <h7>Kategorijos:
                                        {% for category in event.category %}
                                            {{ category.name }}
                                        {% endfor %}
                                    </h7>
                                </div>
                                <div class="col-3 ml-2">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <h7><a onclick="return confirm('Tikrai ištrinti?');" href="{{ url('app_event_delete',{id: event.id}) }}">Ištrinti</a></h7>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-4">
            {% include 'pagination.html.twig' with {
                currentFilters: { myFilter: {} },
                currentPage: pageNumber,
                paginationPath: "app_event_list_filter",
                lastPage: pageCount,
                showAlwaysFirstAndLast: true
            } only %}
        </div>
    </div>
{% endblock %}
