{% extends 'base.html.twig' %}

{% block title %}Renginių sąrašas{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4 ml-2">Renginiai</h1>
        <div class="form-group">
            <label for="price">Kaina</label>
            {% if form_errors(eventAddForm.price)|length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(eventAddForm.price) }}
                </div>
            {% endif %}
            {{ form_widget(eventAddForm.price, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'price', 'id': 'price', 'required': '', 'placeholder': 'Kaina €', 'style': 'max-width: 150px'}})  }}
        </div>
        {% for event in events %}
            <div class="card mb-3" style="max-width: 1000px; min-width: 1000px">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-3">
                            <img class="rounded" src="{{ asset('images/placeholder.png') }}">
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <a href="{{ url('app_event',{id: event.id} )}}"><h2><div class="text-truncate" style="max-width: 700px">{{ event.name }}</div></h2></a>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col ml-2">
                                    {% if event.price == 0 %}
                                        <h4>Kaina: Nemokamai</h4>
                                    {% else %}
                                        <h4>Kaina: {{ event.price }} €</h4>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 ml-2">
                                    <h5>Data: {{ event.date.format('Y-m-d H:i') }}</h5>
                                </div>
                                <div class="col">
                                    <h5>Vieta: {{ event.address }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ml-2">
                                    <h7>Kategorijos:
                                        {% for category in event.category %}
                                            {{ category.name }}
                                        {% endfor %}
                                    </h7>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-4">
        {% include 'pagination.html.twig' with {
            currentFilters: { myFilter: {} },
            currentPage: pageNumber,
            paginationPath: "app_event_list_paging",
            lastPage: pageCount,
            showAlwaysFirstAndLast: true
        } only %}
        </div>
    </div>
{% endblock %}
