{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {{ form_start(registrationForm) }}
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Please register</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                {{ form_errors(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'type': 'email', 'class': 'form-control', 'name': 'email', 'id': 'inputEmail', 'aria-describedby': 'emailHelp', 'required': '', 'autofocus': '', 'placeholder': 'Enter email'}}) }}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                {{ form_errors(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'type': 'password', 'class': 'form-control', 'name': 'password', 'id': 'inputPassword', 'required': '', 'placeholder': 'Password'}}) }}
            </div>

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
